# CODEOWNERS — every file requires review from @fidgetcoding.
# https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-sec<person-i>ty/customizing-your-repository/about-code-owners
*       @fidgetcoding
